<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>estore</display-name>
  <context-param>
    <description>全站编码配置</description>
    <param-name>encode</param-name>
    <param-value>utf-8</param-value>
  </context-param>
  <filter>
    <description>全站乱码过滤器</description>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>com.xmh.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
   <filter>
    <description>自动登陆过滤器</description>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>com.xmh.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>ValiImg</servlet-name>
    <servlet-class>com.xmh.web.ValiImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValiImg</servlet-name>
    <url-pattern>/ValiImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.xmh.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.xmh.web.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.xmh.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>com.xmh.web.ActiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/ActiveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddpordServlet</servlet-name>
    <servlet-class>com.xmh.web.AddpordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddpordServlet</servlet-name>
    <url-pattern>/AddpordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValiNameServlet</servlet-name>
    <servlet-class>com.xmh.web.ValiNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValiNameServlet</servlet-name>
    <url-pattern>/ValiNameServlet</url-pattern>
   </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>